<mat-toolbar color="primary">



  <mat-toolbar-row>
    <span>{{title}}</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">search</mat-icon>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">logout</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card>



  <p>
    <mat-form-field appearance="outline" >
      <mat-label>Add New Task</mat-label>
      <input matInput placeholder="New task" [(ngModel)]="inputText" (keydown.enter)="create()" type="text">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </p>

<!--  [(ngModel)]="inputText" (keydown.enter)="create()" -->

  <mat-list role="list" *ngFor="let task of data">
  <mat-list-item role="listitem">
    <div style="width: 90%;">
     <h3> {{task.task}}</h3>
    </div>
     <div style="font-size: 12px; color: #cccccc; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
      {{task.created}}
    </div>
  </mat-list-item>

</mat-list></mat-card>
<router-outlet></router-outlet>

